<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/newma/Documents/Coding/TestingFinalProject/src/test/java">
        <classes>
            <class name="InstagramSearch">
                <methods>
                    <include name="testSearch"></include>
                    <include name="clearSearch"></include>
                    <include name="searchAndScroll"></include>
                    <include name="testSearchClickLike"></include>
                    <include name="searchClearAll"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>